@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'montserrat';
}

body,h1,h2 {
    margin: px;
    padding: 0px;
}

.sidebar {
    border: 2px solid rgb(248, 190, 64);
    width: 250px;
    height: 100%;
    text-align: left;
    padding: 10px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color:rgb(25, 83, 32)
}

.main {
    border: 2px solid rgb(248, 190, 64);
    width: 250px;
    height: 100%;
    text-align: left;
    padding: 10px;
    margin: 0px;
    margin-left: 0px;
    float: left;
    margin-right: 0px;
    flex-direction: column;
    color: rgb(25, 83, 32);
}

.about-me-text {
    color:rgb(61, 113, 223)
    font-size: 20px;
}

.name-text {
    font-size: 20x;
    color: #1a2665;
    font-weight: bold;
}

.title-box {
    text-align: cleft;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

body,h1,h2 {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

.name-text {
    font-size: 17px;
    color: #7c7c7c;
    font-weight: blod; /*light, blod, nomal*/
}

footer {
    text-align: center;
    background-color: #1E1E1E;
    padding: 12px;
    color: #919191;
    font-size: 12px;
}

section{
    margin-bottom: 24px;

}

.about-me-text {
    font-size: 10px;
    line-height: 16px; /* 줄 간격 */
}

.title-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left; /* 서로 겹치지 않게 float 사용 */
}

.float-wrap {
    overflow: hidden;
}

.desc-text {
    font-size: 9px;
}

.sns-img {
    width: 12px;
    height: 12px;
}

.sns-wrap {
    text-align: right;
}

